@font-face {
    font-family: 'AktivGrotesk';
    src: url('AktivGrotesk-Bold.eot');
    src: url('AktivGrotesk-Bold.eot?#iefix') format('embedded-opentype'),
        url('AktivGrotesk-Bold.woff2') format('woff2'),
        url('AktivGrotesk-Bold.woff') format('woff'),
        url('AktivGrotesk-Bold.ttf') format('truetype'),
        url('AktivGrotesk-Bold.svg#AktivGrotesk-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AktivGrotesk';
    src: url('AktivGrotesk-Regular.eot');
    src: url('AktivGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
        url('AktivGrotesk-Regular.woff2') format('woff2'),
        url('AktivGrotesk-Regular.woff') format('woff'),
        url('AktivGrotesk-Regular.ttf') format('truetype'),
        url('AktivGrotesk-Regular.svg#AktivGrotesk-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

